.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.wrapper div {
    width: 200px;
    height: 200px;
    background-color:greenyellow;
    outline: 3px solid rgb(0, 0, 0);
}

.wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper2 div {
    width: 200px;
    height: 100px;
    background-color:rgb(151, 11, 11);
    outline: 3px solid rgb(0, 0, 0);
}