.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

.wrapper div {
    background-color:red;
    outline: 2px solid rgb(0, 0, 0);
}

.wrapper3 {
    display: grid;
    grid-auto-rows: 200px;
}

.wrapper3 div {
    background-color:rgb(52, 245, 52);
    outline: 2px solid rgb(0, 0, 0);
}

.wrapper2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

.wrapper2 div {
    background-color:rgb(52, 245, 52);
    outline: 2px solid rgb(0, 0, 0);
}
